name: Build And Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: build-and-test-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false -Dorg.gradle.workers.max=2 -Dorg.gradle.daemon=false -Dorg.gradle.jvmargs="-Xmx4500m"
      DEBUG_KEYSTORE_FILE: debug.keystore
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Decode debug keystore
        env:
          DEBUG_KEYSTORE_BASE64: ${{ secrets.DEBUG_KEYSTORE_BASE64 }}
        run: |
          echo "$DEBUG_KEYSTORE_BASE64" | base64 -d > debug.keystore
      - name: Build debug APK
        run: ./gradlew :app-android:assembleDebug
      - name: Upload debug APK (zip)
        uses: actions/upload-artifact@v7
        with:
          name: debug-apk-zip
          path: app-android/build/outputs/apk/debug/*.apk
      - name: Upload debug APK (non-zipped)
        uses: actions/upload-artifact@v7
        with:
          name: debug-apk-non-zipped
          path: app-android/build/outputs/apk/debug/*.apk
          archive: false
      - run: ./gradlew :app-desktop:jvmJar
